@import url('https://fonts.googleapis.com/css?family=Poppins');

html,
body {
  width: 100%;
  height: auto;
  background: #202020;
  background-image: url('https://images.pexels.com/photos/1252869/pexels-photo-1252869.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: repeat-x;
  background-position: top;
  z-index: -2;
  display: table;
  overflow: hidden;
}

/* font css */

p {
  font-size: 2em;
}

/* main container css */

.contain {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 3em;
}

#display {
  color: #FFF;
  font-size: 2.9em;
  top: 10px;
  border-bottom: thin solid;
  padding-bottom: 20px;
  opacity: 0.80;
  filter: alpha(opacity=80);
  /* For IE8 and earlier */
}

#date {
  color: #FFF;
  font-size: 1.3em;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  letter-spacing: 0.2em;
  opacity: 0.6;
  filter: alpha(opacity=60);
  /* For IE8 and earlier */
}

.call {
  color: #202020;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
}

#content {
  height: 45em;
}

.container {
  padding-top: 6em;
  text-align: center;
}


#date {
  color: #FFF;
}

#display {
  font-family: 'Poppins', sans-serif;
  color: #FFF;
}

/* quote css */

#quote {
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  position: relative;
  font-size: 12px;
}

/* source css */

#writer {
  opacity: 1;
  font-size: 1em;
  padding-right: 2em;
  text-align: right;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  position: relative;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

/* for the after stage of the source */

.fade {
  opacity: 0 !important;
}

/* for the after stage of the quote.*/

.executed {
  opacity: 1;
  right: 0;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

/* for the before stage of the quote; should slide right when presented and left when removed.  */

.reset {
  opacity: 0;
  right: 600;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

/* for the instructions at the bottom */

.bottom {
  bottom: 0;
  text-align: center;
  position: absolute;
  color: #454545;
  font-family: 'Poppins', sans-serif;
}

.bottom .copy {
  font-size: 1em;
}

.bottom .cop
